/logs/
/.env/
yt-sentiment-venv
amazon-user.csv

data/raw/*
data/processed/*
data/preprocessed/*
models/*

!data/raw/*.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/preprocessed/.gitkeep
!models/.gitkeep

artifacts/
logs/
mlruns/